PruebaWPF/Connected Services/wsLDAP/LDAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Conjunto de servicios web que trabajan con LDAP</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EsUsuarioValido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsUsuarioValidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EsUsuarioValidoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPersonaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNuevoPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarPasswordStd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarPasswordStdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarPasswordStdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EsUsuarioValidoSoapIn">
    <wsdl:part name="parameters" element="tns:EsUsuarioValido" />
  </wsdl:message>
  <wsdl:message name="EsUsuarioValidoSoapOut">
    <wsdl:part name="parameters" element="tns:EsUsuarioValidoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPersona" />
  </wsdl:message>
  <wsdl:message name="BuscarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="CambiarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarPasswordStdSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarPasswordStd" />
  </wsdl:message>
  <wsdl:message name="RecuperarPasswordStdSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarPasswordStdResponse" />
  </wsdl:message>
  <wsdl:portType name="LDAPSoap">
    <wsdl:operation name="EsUsuarioValido">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para comprobar los datos de acceso de una persona con correo institucional de la UNI</wsdl:documentation>
      <wsdl:input message="tns:EsUsuarioValidoSoapIn" />
      <wsdl:output message="tns:EsUsuarioValidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersona">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para realizar una búsqueda en el LDAP</wsdl:documentation>
      <wsdl:input message="tns:BuscarPersonaSoapIn" />
      <wsdl:output message="tns:BuscarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para cambiar la contraseña de usuario</wsdl:documentation>
      <wsdl:input message="tns:CambiarPasswordSoapIn" />
      <wsdl:output message="tns:CambiarPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarPasswordStd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web para comprobar los datos de acceso de una persona con correo institucional de la UNI</wsdl:documentation>
      <wsdl:input message="tns:RecuperarPasswordStdSoapIn" />
      <wsdl:output message="tns:RecuperarPasswordStdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPSoap" type="tns:LDAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsUsuarioValido">
      <soap:operation soapAction="http://tempuri.org/EsUsuarioValido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersona">
      <soap:operation soapAction="http://tempuri.org/BuscarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap:operation soapAction="http://tempuri.org/CambiarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPasswordStd">
      <soap:operation soapAction="http://tempuri.org/RecuperarPasswordStd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LDAPSoap12" type="tns:LDAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsUsuarioValido">
      <soap12:operation soapAction="http://tempuri.org/EsUsuarioValido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersona">
      <soap12:operation soapAction="http://tempuri.org/BuscarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap12:operation soapAction="http://tempuri.org/CambiarPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarPasswordStd">
      <soap12:operation soapAction="http://tempuri.org/RecuperarPasswordStd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAP">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Conjunto de servicios web que trabajan con LDAP</wsdl:documentation>
    <wsdl:port name="LDAPSoap" binding="tns:LDAPSoap">
      <soap:address location="http://si.uni.edu.ni/wsLDAP/ws/LDAP.asmx" />
    </wsdl:port>
    <wsdl:port name="LDAPSoap12" binding="tns:LDAPSoap12">
      <soap12:address location="http://si.uni.edu.ni/wsLDAP/ws/LDAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>